/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: sans-serif;
}
/* generics */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
#title{
    text-align: center;
    margin: 50px 0;
}
h2{
    margin-bottom: 20px;
}
#introduction{
    color: gray;
    line-height: 30px;
}
#listmembers{
    text-align: center;
    line-height: 30px;
}