/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: sans-serif;
}
/* generics */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
#title{
    text-align: center;
    margin: 50px 0;
}
h2{
    margin-bottom: 20px;
}
#introduction{
    color: gray;
    line-height: 30px;
    margin: 0 40px;
}
#listmembers{
    text-align: center;
    line-height: 30px;
}
#listmembers img{
    width: 100%;
}
.card{
    height: 400px;
    flex-basis: calc(100% / 3 - 20px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 40px;

}   